@import "tailwindcss";
@theme {
  --color-black: #262116;
  --color-white: #ffffff;
  --color-navy-50: #f0f7fa;
  --color-navy-100: #e6ecf5;
  --color-navy-200: #d3ddeb;
  --color-navy-300: #b0c0d6;
  --color-navy-400: #728ab0;
  --color-navy-500: #50678a;
  --color-navy-600: #3c4d69;
  --color-navy-700: #293548;
  --color-navy-800: #212a3a;
  --color-navy-900: #151b24;
  --color-warmBlack-50: #fbfbfb;
  --color-warmBlack-100: #f6f6f6;
  --color-warmBlack-200: #ebebeb;
  --color-warmBlack-300: #dbdad7;
  --color-warmBlack-400: #afadaa;
  --color-warmBlack-500: #807e7a;
  --color-warmBlack-600: #636058;
  --color-warmBlack-700: #514d45;
  --color-warmBlack-800: #373329;
  --color-warmBlack-900: #262116;
  --color-seaFoam-50: #f3faf9;
  --color-seaFoam-100: #ebf2f1;
  --color-seaFoam-200: #cee2de;
  --color-seaFoam-300: #aeccc9;
  --color-seaFoam-400: #81bbae;
  --color-seaFoam-500: #5c9d94;
  --color-seaFoam-600: #3d7d75;
  --color-seaFoam-700: #216e6a;
  --color-seaFoam-800: #186c58;
  --color-seaFoam-900: #014744;
  --color-gold-50: #f9f4ed;
  --color-gold-100: #eee4d4;
  --color-gold-200: #e0d2b7;
  --color-gold-300: #d6c49a;
  --color-gold-400: #c9b480;
  --color-gold-500: #bda56e;
  --color-gold-600: #978458;
  --color-gold-700: #806f4a;
  --color-gold-800: #706141;
  --color-gold-900: #5f5337;
  --color-coral-50: #fcf1f3;
  --color-coral-100: #fcebec;
  --color-coral-200: #f7d4da;
  --color-coral-300: #eba9b5;
  --color-coral-400: #e77d91;
  --color-coral-500: #d6677c;
  --color-coral-600: #c24c62;
  --color-coral-700: #993b4d;
  --color-coral-800: #792f3d;
  --color-coral-900: #662833;
}
