@import "tailwindcss";@theme {
  --color-black: #262116;
  --color-white: #ffffff;
  --color-navy-50: #F0F7FA;
  --color-navy-100: #E6ECF5;
  --color-navy-200: #D3DDEB;
  --color-navy-300: #B0C0D6;
  --color-navy-400: #728AB0;
  --color-navy-500: #50678A;
  --color-navy-600: #3C4D69;
  --color-navy-700: #293548;
  --color-navy-800: #212A3A;
  --color-navy-900: #151B24;
  --color-warmBlack-50: #FBFBFB;
  --color-warmBlack-100: #F6F6F6;
  --color-warmBlack-200: #EBEBEB;
  --color-warmBlack-300: #DBDAD7;
  --color-warmBlack-400: #AFADAA;
  --color-warmBlack-500: #807E7A;
  --color-warmBlack-600: #636058;
  --color-warmBlack-700: #514D45;
  --color-warmBlack-800: #373329;
  --color-warmBlack-900: #262116;
  --color-seaFoam-50: #F3FAF9;
  --color-seaFoam-100: #EBF2F1;
  --color-seaFoam-200: #CEE2DE;
  --color-seaFoam-300: #AECCC9;
  --color-seaFoam-400: #81BBAE;
  --color-seaFoam-500: #5C9D94;
  --color-seaFoam-600: #3D7D75;
  --color-seaFoam-700: #216E6A;
  --color-seaFoam-800: #186C58;
  --color-seaFoam-900: #014744;
  --color-gold-50: #F9F4ED;
  --color-gold-100: #EEE4D4;
  --color-gold-200: #E0D2B7;
  --color-gold-300: #D6C49A;
  --color-gold-400: #C9B480;
  --color-gold-500: #BDA56E;
  --color-gold-600: #978458;
  --color-gold-700: #806F4A;
  --color-gold-800: #706141;
  --color-gold-900: #5F5337;
  --color-coral-50: #FCF1F3;
  --color-coral-100: #FCEBEC;
  --color-coral-200: #F7D4DA;
  --color-coral-300: #EBA9B5;
  --color-coral-400: #E77D91;
  --color-coral-500: #D6677C;
  --color-coral-600: #C24C62;
  --color-coral-700: #993B4D;
  --color-coral-800: #792F3D;
  --color-coral-900: #662833;
}
